---
layout: page
title: "关于"
description: ""
header-img: assets/header/header_170427.jpg
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)" style="display:none;">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>{{site.slogin}}</p></blockquote>

    <p>我是<strong>咕咚</strong>，Android 开发者 &amp; 独立开发者。</p>

    <p>喜欢技术，热爱分享。</p>

    <p>自己的开源项目和个人产品，👉 戳 <a href="http://github.com/maoruibin">Github</a> 与 <a href="/portfolio">Portfolio</a></p>

    <p>爱运动，爱篮球，喜欢户外，登山等。</p>

    <p>技术方面，擅长 Android 开发，但是 Android 之外，对前后端技术均有爱好。</p>

    <p>目前正在看工作机会，欢迎查看<a href="/2017/05/08/resume.html">我的个人在线简历</a>，如果对我有兴趣，欢迎联系</p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>A Android Developer <br>
    Life is meaningful</p></blockquote>

    <p>My name is <strong>咕咚</strong>. I studied Computer science and technology in <a href="https://en.wikipedia.org/wiki/Inner_Mongolia_University_of_Technology">Inner Mongolia University Of Technology</a>.</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

{% if site.gentie_key %}
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
    <script>
    var cloudTieConfig = {
      url: "{{site.url}}/about/", 
      sourceId: "{{site.duoshuo_username}}/about/",
      productKey: "{{site.gentie_key}}",
      target: "cloud-tie-wrapper"
    };
    var yunManualLoad = true;
    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
    </script>
{% endif %}


{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}
