---
layout: page
title: Contents
bio: 博客文章全目录
---

<section class="list">
    <!-- {% for post in site.posts %}
        {% include blog-post.html %}         
    {% endfor %} -->

    {% assign count = 1 %}
    {% for post in site.posts reversed %}
        {% assign year = post.date | date: '%Y' %}
        {% assign nyear = post.next.date | date: '%Y' %}
        {% if year != nyear %}
            {% assign count = count | append: ', ' %}
            {% assign counts = counts | append: count %}
            {% assign count = 1 %}
        {% else %}
            {% assign count = count | plus: 1 %}
        {% endif %}
    {% endfor %}
    
    {% assign counts = counts | split: ', ' | reverse %}
    {% assign i = 0 %}    

    {% for post in site.posts %}
        {% assign year = post.date | date: '%Y' %}
        {% assign nyear = post.next.date | date: '%Y' %}

        {% if year != nyear %}
            <h2 class="title" style="font-size: 1.5em">## {{ post.date | date: '%Y' }}（{{ counts[i]}}）</h2>
            {% assign i = i | plus: 1 %}
        {% endif %}
        {% if post.hidden != true %}
            <div class="item">  
                <a class="url" href="{{ post.url }}">
                    <p class="title">{{ post.date | date: '%m-%d' }} &raquo; {{ post.title }}</p>
                </a>
            </div>
        {% endif %}


    {% endfor %}


</section>
