---
layout: default
title: Dbyll
tagline:
---
{% include JB/setup %}
<ul class="posts" id="posts">
{% for post in paginator.posts %}
{% if post.hidden != true %}

  {% for post in site.posts %}
    <li>
     <h3 class="post-title">
        <a href="{{ BASE_PATH }}{{ post.url }}" target="_blank">
          {{ post.title }}
        </a>
      </h3>
      <div class="datatime">
         <span>{{ post.date | date: "%m/%d/%Y" }}</span>
      </div>
      <div class="post-content">
          <!--{{ post.content | strip_html | truncatewords:30 }}-->
          {{ post.excerpt }}
      </div>


    </li>
  {% endfor %}

{% endif %}
{% endfor %}
</ul>
<hr/>

<ul class="pager">

  {% if paginator.previous_page %}
  <li class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="{{ BASE_PATH }}/">&larr; Newer</a>
    {% else %}
    <a href="{{ BASE_PATH }}/{{ site.paginate_path | replace: ':num', paginator.previous_page }}">&larr; Newer</a>
    {% endif %}
  </li>
  {% else %}
  <li class="previous disabled">
    <a>&larr; Newer</a>
  </li>
  {% endif %}

  <li>
    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  </li>

  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ BASE_PATH }}/{{ site.paginate_path|replace: ':num',paginator.next_page }}">Older &rarr;</a>
  </li>
  {% else %}
  <li class="next disabled">
    <a>Older &rarr;</a>
  </li>
  {% endif %}
  
</ul>