/*
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,latin-ext);
*/
body{
  color: #2c3e50;
  /*font-family: "Karla",Roboto,Helvetica,Arial,sans-serif;*/
  font-family: "lucida Grande",Verdana;
}
html{
  font-family: "Karla",Roboto,Helvetica,Arial,sans-serif;
  font-size:16px;
  line-height:1.5;
}
li{
  list-style-type:none;
}
a {
  text-decoration: none;
  line-height: inherit;
}
a:hover {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  top: 0px;
  padding-top: 15%;
  background: -webkit-linear-gradient(#009688,#00695C);
  background: -o-linear-gradient(#009688,#00695C);
  background: -moz-linear-gradient(#009688,#00695C);
  background: linear-gradient(#009688,#00695C);
}
.sidebar-content{
  max-width:22rem;
  margin:0px auto;
}
.sidebar-header {
  text-align: center;
  margin-bottom: 10px;
}

#sidebar-header-logo{
  width: 90px;
  height: 90px;
} 

.sidebar-header h3{
  font-size: 2.0rem;
  font-weight: bold;
  margin-top: 2.0rem;
}

.sidebar-header p{
  font-size: 1.0rem;
  color: rgba(255,255,255,.5);
  margin-top: 2.0rem;
}


.sidebar-header .title{
  letter-spacing: 1.0px;;
}

.sidebar-header .title a{
  text-decoration: none;
  color: #fff;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a.nav-link {
  padding-bottom: 5px;
  padding-top: 7px;
  color: #aaa;
}
a.nav-link i{
  font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#bio a{
   color: #f2f2f2;
}

#bio a:hover{
   text-decoration: underline;
}

#contact-list li .fa,
article .share .btn {
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

#contact-list li:hover .fa-google-plus,
article .share .google-plus:hover{
  color: #dd4b39;
  border-color: #dd4b39;
}

#contact-list li:hover .fa-weibo,
article .share .weibo:hover{
  color: #e6162d;
  border-color: #e6162d;
}

#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
  color: #00ACEE;
  border-color: #00ACEE;
}



#contact-list i{
  margin-top: 0.37rem;
}

.btn-icon{
  display: block;
  position: relative;
  border: 1px solid #BBB;
  border-radius: 50%;
  font-weight: bold;
  text-shadow: none;
  color: #BBB;
  -webkit-font-smoothing: antialiased;
  width: 3.0rem;
  height: 3.0rem;
}

#contact-list li:hover .fa-linkedin {
  color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
  color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
  color: #CC2127;
}
#contact-list li:hover .fa-rss {
  color: #e74c3c;
}
article .share .facebook:hover {
  color: #43609C;
  border-color: #43609C;
}
article .share .gplus:hover {
  color: #C13929;
  border-color: #C13929;
}

#contact-list-secondary {
  padding-bottom: 10px;
}

.page-header {
  color: #e74c3c;
  /*text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);*/
}

article{
  margin-bottom: 40px;
}

.article_body{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-date {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

article {
  padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }


h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway","Roboto Condensed",Roboto,sans-serif;
  margin-top: .8rem;
  margin-bottom: .6rem;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -.03em;
  color: #313131;
  text-rendering: optimizeLegibility;
}

article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
  color: #e74c3c;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
  padding-top: 15px;
  font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

/* 主页样式文件 */

.posts{
  border: 0px solid #f0f0f0;
  margin-right: 20rem;
}
#pager{
   margin-right: 22rem;
   margin-left: 2.3rem;
}
.posts li{
  margin-bottom: 4rem;
  padding-right: 2rem;
  border: 0px solid #000000;
}

.posts .datatime{
  margin-bottom:1rem; 
}

.post-title {
  text-align: left;
  font-size: 2.125rem;
  margin-bottom: 0.9375rem;
  font-weight: bolder;
}

.post-title a {
  color: black;
}
.post-content{
   font-size: 1.0rem;
   font-weight: normal;
}

/*顶部细线*/
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  margin-left: 5rem;
  border-bottom: 0px solid #eee;
}