
<! -- sidebar.html -->
<div  class="sidebar-content">
<!-- 水平居中 margin:0px auto; width:500px;   -->
<!-- position:absolute; 
	top:50%; 
	left:50%;
-->	 
	<header class="sidebar-header" role="banner">
		<a href="{% if BASE_PATH %}{{ BASE_PATH }}{% else %}/{% endif %}">
			<img src="/assets/themes/dbyll/img/logo.png" width="80" id="sidebar-header-logo" class="img-circle" />
		</a>
		<h3 class="title">
			<a href="{% if BASE_PATH %}{{ BASE_PATH }}{% else %}/{% endif %}">{{ site.title }}</a>
		</h3>
		<p class="text-center">
			一个Android开发者<br>G粉-米粉<br>爱编程，爱代码<br>编程不是工作，而是修行. 
		</p>
	</header>

	{% if site.author.bio %}
	<div id="bio" class="text-center">
		<a href="{% if BASE_PATH %}{{ BASE_PATH }}{% else %}/{% endif %}">
			{{ site.author.bio }}
		</a>
	</div>
	{% endif %}

	<div id="contact-list" class="text-center">
		<ul class="list-unstyled list-inline">
		{% if site.author.github %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="https://github.com/{{ site.author.github }}" target="_blank">
				<i class="fa fa-github-alt fa-2x"></i>
			</a>
		</li>
		{% endif %}

		{% if site.author.twitter %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="https://twitter.com/{{ site.author.twitter }}" target="_blank">
				<i class="fa fa-twitter fa-2x"></i>
			</a>
		</li>
		{% endif %}
		

		{% if site.author.google %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="http://plus.google.com/{{ site.author.google}}?rel=author" target="_blank">
				<i class="fa fa-google-plus fa-2x"></i>
			</a>
		</li>
		{% endif %}

		{% if site.author.weibo %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="http://weibo.com/u/{{ site.author.weibo }}" target="_blank">
				<i class="fa fa-weibo fa-2x"></i>
			</a>
		</li>
		{% endif %}

		{% if site.author.email %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="mailto:{{ site.author.email }}" target="_blank">
				<i class="fa fa-envelope fa-2x"></i>
			</a>
		</li>
		{% endif %}
	</ul>
	<ul id="contact-list-secondary" class="list-unstyled list-inline">
		{% if site.author.pinterest %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="https://pinterest.com/{{ site.author.pinterest }}">
				<i class="fa fa-pinterest fa-2x"></i>
			</a>
		</li>
		{% endif %}
		{% if site.author.linkedin %}
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="https://linkedin.com/pub/{{ site.author.linkedin }}">
				<i class="fa fa-linkedin fa-2x"></i>
			</a>
		</li>
		{% endif %}
		<!--
		<li>
			<a class="btn btn-default btn-sm btn-icon" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
				<i class="fa fa-rss fa-2x"></i>
			</a>
		</li>
		-->
	</ul>
	</div>


</div>
<! -- sidebar.html end -->
