<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.note == true %}
            {% if page.title != "Note" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/note">Note</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.weekly == true %}
            {% if page.title != "Weekly" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/weekly">Weekly</a>
                </li>
            {% endif %}
        {% endif %}
        {% if site.product == true %}
            {% if page.title != "Product" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/product">Product</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/projects">Projects</a>
                </li>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
            {% endif %}
        {% endif %}
        
        {% if page.title != "Home" and page.title != "Archive" %}
        <li class="item">
            <a class="link" href="{{ site.url }}/archive">Archive</a>
        </li>
        {% endif %}

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
        {% endif %}
    </ul>
</nav>
