---
layout: page
---

<!-- 文章详情展示模板 -->

<!-- {% if page.header-img %}
    <img class="title-image" src="{{ site.url}}/{{ page.header-img}}" alt="{{ page.title }}">
{% endif %} -->

<h1 class="title">{{ page.title }}</h1>

<span class="date">
    发表于
    <time datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%Y-%m-%d" }}</time>
    {% if site.read-time %} - {% include read-time.html %}{% endif %}

    {% if site.valine.visitors and site.enable_valine %}
    &nbsp; | &nbsp;{% include visitor.html %}
    {% endif %}

</span>



{% if site.show-tags %}
    <div class="post-tags">
        {% for tag in page.tags %}
            <a class="item" href="{{ site.url }}/tags#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </div>
{% endif %}


{% if page.header-img %} 
    {% include post-header.html %}
{% endif %}

{{content}}

{% if site.post-advance-links contains page.category %}
    <div class="blog-navigation">
        {% if page.previous.url %}
            <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
        {% else %}
            <a class="prev"></a>
        {% endif %}
        {% if page.next.url %}
            <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
    </div>
{% endif %}

<!-- {% if page.categories contains "daily" %}
    {% include daily-intro.html %}
{% endif %} 
-->

{% if page.hide-related %}
    <span></span>    
{% else %}
    {% if site.related  %}
        {% include related.html %}
    {% endif %}
{% endif %}




{% if page.qrcode_mp %}
    <div style="text-align: center;margin-top: 4em;margin-bottom: 4em;">
        <img  style="width:150px;height:150px;"  src="{{site.gudongqr}}" alt="{{site.gudonggzh}}">
    <br/>
    <br/><strong style="font-weight: bold;letter-spacing: 2px;"><span>咕咚同学</span></strong>
    <br/><span style="font-size:10px;margin-top:14px">扫码关注公众号</span>
    </div>
    
{% endif %}


{% if site.show-author %}
    {% include author.html %}
{% endif %}

<!-- 
{% if site.enable_disqus and site.disqus.categories contains page.categories %}
    {% include disqus.html %}
{% endif %}
-->

{% if 
    page.categories contains "blog" or 
    page.categories contains "note" or 
    page.categories contains "think" or 
    page.categories contains "tech" or 
    page.categories contains "daily" or 
    page.categories contains "product" 
%}
{% if site.enable_valine %}
    {% include valine.html %}    
{% endif %}
{% endif %}


